*.tmp
.idea

# Joplin
/config/joplin-desktop/database.sqlite
/config/joplin-desktop/log.txt
/config/joplin-desktop/resources/
/config/joplin-desktop/tmp/

/config/karabiner/automatic_backups/
/config/gh/state.yml
